:root {
  /* Color Variables  */
  --background: rgb(255, 255, 255);
  --primary-orange: #FC6E35;
  --primary-blue: #00ADEA;
  --primary-darkblue: #002B5E;
  --trans-orange-v1:rgba(252, 110, 53, 0.15);
  --trans-blue-v1:rgba(0, 173, 234, 0.15);
  --trans-darkblue-v1:rgba(0, 43, 94, 0.15);
  --trans-orange-v2:rgba(252, 110, 53, 0.45);
  --trans-blue-v2:rgba(0, 173, 234, 0.45);
  --trans-darkblue-v2:rgba(0, 43, 94, 0.45);
  --secondary-lightorange:#D68261;
  --secondary-lightblue:#6F98B7;
  --secondary-darkorange:#C2562B;
  --secondary-darkblue:#316B98;

  /* Font Variables  */
  /* --font-light: 'UniNeueLight';
  --font-regular: 'UniNeueRegular';
  --font-heavy: 'UniNeueHeavy';
  --font-black: 'UniNeueBlack'; */
}

/* @font-face {
  font-family: UniNeueLight;
  src: url('/Fonts/UniNeueLight.otf');
}

@font-face {
  font-family: UniNeueRegular;
  src: url('/Fonts/UniNeueRegular.otf');
}

@font-face {
  font-family: UniNeueBlack;
  src: url('/Fonts/UniNeueBlack.otf');
}


@font-face {
  font-family: UniNeueHeavy;
  src: url('/Fonts/UniNeueHeavy.otf');
} */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth!important;
  font-size: 62.5%;
  }

a{
  text-decoration: none;
  color: inherit;
}

body{
  width: auto;
  height: 100vh;
}


/*


::-webkit-scrollbar {
  display: none;
} */
