:root {
  /* Color Variables  */
  --background: #f3efef;
  --text-color: #191717;
  --primary-red: #cc322a;
  --primary-yellow: #e6d596;
  --primary-pink: #b45c64;
  
  --secondary-red:#642c34;
  --secondary-brown:#4c3434;
  --secondary-blue:#a7b9d3;

  /* Font Variables  */
  --font-title-pokemon: 'PokemonSolid';
}

@font-face {
  font-family: PokemonSolid;
  src: url('/fonts/PokemonSolid.ttf');
}
/*
@font-face {
  font-family: UniNeueRegular;
  src: url('/Fonts/UniNeueRegular.otf');
}

@font-face {
  font-family: UniNeueBlack;
  src: url('/Fonts/UniNeueBlack.otf');
}


@font-face {
  font-family: UniNeueHeavy;
  src: url('/Fonts/UniNeueHeavy.otf');
} */

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth!important;
  font-size: 62.5%;
  }

a{
  text-decoration: none;
  color: inherit;
}

body{
  width: auto;
  height: 100vh;
}


/*


::-webkit-scrollbar {
  display: none;
} */
