.navbar_container {
    position: fixed;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 70px;
    padding: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
}