.login_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container_from{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    background-color: var(--background);
    width: 500px;
    height: 100vh;
    padding: 5% 50px 50px 50px;
}

.title {
    font-size: 1.86rem;
    text-align: center;
    font-weight: bold;
}
.title_cute{
    font-weight: lighter;
    color: yellow;
    font-size: 3rem;
    font-family: var(--font-title-pokemon);
    letter-spacing: 2px;
    filter: drop-shadow(8px -12px 0px #003cff);
    -webkit-text-stroke: 1px #003cff;
}

.formInputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_cover{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center
}

.image{
    width: 50%;
    height: 50%;
}

.image_opacity{
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    transform: translateX(65%) translateY(40%);
    opacity: 0.5;
}
.container_options{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.95rem;
    align-items: flex-end;
}