.container_form {
    background-color: var(--secondary-blue);
    border-radius: 10px; /* Define el radio de los bordes */
    padding: 20px; /* Espaciado interno */
    margin: 10%;
    width: 50%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: yellow;
    font-size: 60px;
    font-family: var(--font-title-pokemon);
    text-shadow: 
        -1px -1px 0 #003cff,  
         10px -10px 0 #003cff,
        -1px  1px 0 #003cff,
         1px  1px 0 #003cff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-yellow);
    width: 100%;
    height: 100vh;
}

.container .container_separator{
    display: flex;
    width: 50%;
    height: 100vh;
}

.item {
    background-color: var(--background);
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 1%;
    border-radius: 50px; 
}

.button {
    background-color: var(--primary-red);
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 1%;
    border-radius: 50px; 
}

.button:hover {
    background-color: var(--primary-red);
    width: 40%;
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 1%;
    border-radius: 50px;
    cursor: pointer;
}